.postItem {
    &__imageWrapper {
        height: 250px;
        position: relative;
        display: block;
        border-radius: var(--controls-border-radius);
        overflow: hidden;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: #c9c0a6cc;
            transform: translate3d(0px, 100%, 0px);
            transition: transform 0.5s cubic-bezier(.85,0,.31,1);
        }

        &:hover {
            ~ .postItem__title {
                text-decoration: underline;
            }

            &::after {
                transform: translate3d(0px, 0px, 0px);
            }
        }
    }

    &__image {
        object-fit: cover;
    }

    &__body {
        margin-top: 8px;
    }

    &__button {
        justify-self: flex-start;
        align-self: flex-end;
        margin-top: 12px;
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 64px;
        grid-template-areas:
            "image content";

        .postItem__imageWrapper {
            grid-area: image;
            height: 300px;
        }

        .postItem__content {
            grid-area: content;
        }
    }
}