.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;

    &__logo {
        display: block;
    }

    &__userControl {
        display: flex;
        gap: 8px;
    }
}