.postList {
    display: grid;
    gap: 24px;

    &__pagination {
        display: flex;
        justify-content: center;
        margin-top: 64px;
    }
}

@include sm {
    .postList {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}